fastapi==0.109.2
uvicorn==0.27.1
psutil==5.9.8
yara-python==4.3.1
python-multipart==0.0.9
pydantic==2.6.1
sqlalchemy==2.0.27
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
slowapi==0.1.8
rarfile==4.0
py7zr==0.20.8
requests==2.31.0 